<div class="weui-tabbar">
    <a v-for="(item,index) in taber" @click="heightLheight(index)" href="javascript:;" v-bind:class="['weui-tabbar__item',
     {'weui-bar__item_on':offset === index}]">
        <span style="display: inline-block;position: relative;">
            <img src="https://weui.io/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <span v-if="item.badge>0" class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
            <span v-if="item.dot" class="weui-badge weui-badge_dot"
                style="position: absolute;top: 0;right: -6px;"></span>
        </span>
        <p v-text="item.title" class="weui-tabbar__label"></p>
    </a>
</div>
<!-- v-for="(item,index) in 数组"：遍历数组（each） -->
<!-- v-if():有或者没有：增加（addend）或者删除（remove） -->
<!-- v-text():拿到数组里的某一个值 -->
<!-- v-on(简写 @ )：点击，事件绑定 -->
<!-- v-bind(简写 ：)：布尔值，更改属性值 -->